%%% vim: set filetype=erlang:
{ deps
, [ {cowlib , ".*" , {git , "https://github.com/extend/cowlib.git"         , {tag , "1.0.0"}}}
  , {base32 , ".*" , {git , "https://github.com/aetrion/base32_erlang.git" , "40431a7480176b24863e18b92d9872e54c714df5"}}
  ]
}.

{cover_enabled, true}.

{clean_files, ["test/*.beam"]}.
